<!-- Semantic Ui Modal -->
<!-- <div (click)="onCloseModal()" class="ui dimmer visible active">
  <div class="ui modal visible active">
    <i (click)="onCloseModal()" class="close icon"></i>
    <div class="header">MODAL!</div>
    <div class="content">
      <p>Some content for the modal window should go right here!</p>
    </div>
    <div class="actions">
      <button (click)="onCloseModal()" class="ui button">OK</button>
    </div>
  </div>
</div>
 -->

<div (click)="onCloseClick()" class="modal-backdrop">
  <div (click)="$event.stopPropagation()" class="modal open">
    <ng-content select=".header"></ng-content>
    <div class="modal-content">
      <ng-content select="[content]"></ng-content>
    </div>
    <button (click)="onCloseClick()" class="ui button">OK</button>
  </div>
</div>
