<button (click)="onDismissClick()" class="ui dimmer visible active">
  <button (click)="$event.stopPropagation()" class="ui modal visible active">
    <button class="close icon" (click)="onDismissClick()">X</button>
    <div class="header">
      <ng-content select="[modalTitle]"></ng-content>
    </div>
    <div class="content">
      <ng-content></ng-content>
    </div>
    <div class="actions actions-default">
      <button (click)="onDismissClick()" class="ui button primary">Ok</button>
    </div>
    <div class="actions">
      <ng-content select="[modalFooter]"></ng-content>
    </div>
  </button>
</button>
