<table *ngIf="pages && pages.length > 0" class="table is-striped is-hoverable">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Title</th>
      <th scope="col">Snippet</th>
      <th scope="col">Size</th>
    </tr>
  </thead>
  <ng-container *ngFor="let page of pages">
    <tbody>
      <tr>
        <th scope="row">{{ page.pageid }}</th>
        <td>
          <a
            target="_blank"
            [href]="'https://en.wikipedia.org?curid=' + page.pageid"
            >{{ page.title }}
          </a>
        </td>
        <td [innerHTML]="page.snippet"></td>
        <td>{{ page.size }}</td>
        <td></td>
      </tr>
    </tbody>
  </ng-container>
</table>
