:host {
  display: block;
  margin-top: 2rem;
}

.image {
  max-width: 100%;
  height: auto;
  border: 2px solid #000;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  filter: brightness(120%) contrast(120%);
  transition: all 0.3s ease;
}

.image:hover {
  opacity: 0.8;
  scale: calc(0.99);
}

div.ui.items div.content {
  margin: auto;
}
