<div class="container">
  <form [formGroup]="cardForm" (submit)="onSubmit()">
    <app-input
      [control]="context.name"
      controlName="name"
      [validators]="validators"
      inputType="text"
    ></app-input>
    <app-input
      [control]="context.cardNumber"
      controlName="card number"
      [validators]="validators"
      inputType="text"
    ></app-input>
    <app-input
      [control]="context.expiration"
      controlName="expiration"
      [validators]="validators"
      inputType="text"
    ></app-input>
    <app-input
      [control]="context.securityCode"
      controlName="security code"
      [validators]="validators"
    ></app-input>
    <button [disabled]="!isValid" class="button is-primary" type="submit">
      Submit
    </button>
  </form>
</div>
