<div class="container">
  <form [formGroup]="cardForm" (submit)="onSubmit()">
    <app-input
      [control]="context.name"
      controlName="name"
      [validators]="validators"
      inputType="text"
    ></app-input>
    <app-input
      [control]="context.cardNumber"
      controlName="card number"
      [validators]="validators"
      inputType="text"
    ></app-input>
    <app-input
      [control]="context.expiration"
      controlName="expiration"
      [validators]="validators"
      inputType="date"
    ></app-input>
    <app-input
      [control]="context.securityCode"
      controlName="security code"
      [validators]="validators"
    ></app-input>
    <button class="button" type="submit">Submit</button>
  </form>
</div>
