<div class="container row">
  <ul class="pagination col-1">
    <li class="page-item" [appClass]="{ disabled: currentPage === 0 }">
      <a class="page-link" (click)="onPreviousPage()"> Previous </a>
    </li>
    <ng-container *ngFor="let page of actualRangePages">
      <li [appClass]="{ active: currentPage === page }" class="page-item">
        <a
          *ngIf="page < pagesToShow"
          class="page-link"
          (click)="setCurrentPage(page)"
          >{{ page + 1 }}</a
        >
      </li>
    </ng-container>
    <li
      class="page-item"
      [appClass]="{ disabled: currentPage === totalPages - 1 }"
    >
      <a class="page-link" (click)="onNextPage()"> Next </a>
    </li>
  </ul>
</div>
<ng-container *ngIf="dataAvailable">
  <app-cards [data]="dataAvailable()[currentPage]"></app-cards>
</ng-container>

<!-- <ul *appTimes="5">
  <li>Hi There!</li>
</ul>
 -->

<!--  <div *ngFor="let user of (users | locationIdPipe: 1 : 2 : 3)">
    {{user.name}}
  </div>
 -->
