<app-divider>
  <h1 title>Tabs</h1>
  <ng-container *ngIf="vm$ | async as vm">
    <app-table
      *ngIf="vm.data && vm.headers"
      [dataList]="vm.data"
      [headerslist]="vm.headers"
      [class]="classNames"
    ></app-table>
  </ng-container>
  <br />
  <div class="ui grid">
    <div class="four wide column">
      <div class="ui vertical fluid tabular menu">
        <ng-container *ngFor="let item of tabList">
          <a
            class="item"
            routerLink="./{{ item ? item : '' }}"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            {{ item ? item[0].toUpperCase() + item.slice(1) : "Biography" }}</a
          >
        </ng-container>
      </div>
    </div>
    <div class="twelve wide stretched column">
      <div class="ui segment">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</app-divider>
