<h3>Create an Account</h3>
<form
  class="ui form"
  [formGroup]="signupForm"
  (ngSubmit)="onSubmitForm($event)"
>
  <div class="field">
    <app-input label="Username" [control]="username"></app-input>
  </div>
  <div class="field">
    <app-input
      label="Password"
      [control]="password"
      type="password"
    ></app-input>
  </div>
  <div class="field">
    <app-input
      label="Password Confirmation"
      [control]="passwordConfirmation"
      type="password"
    ></app-input>
  </div>
  <div
    *ngIf="
      signupForm.errors &&
      password.touched &&
      password.dirty &&
      passwordConfirmation.touched &&
      passwordConfirmation.dirty
    "
    class="ui red basic label"
  >
    <p *ngIf="signupForm.errors?.['passwordsDontMatch']">
      Passwords do not match!
    </p>
  </div>
  <div>
    <button
      [disabled]="signupForm.errors?.['passwordsDontMatch'] || signupForm.invalid"
      class="ui submit button primary"
    >
      Submit
    </button>
  </div>
</form>
