<h3>Create an Account</h3>
<form
  class="ui form"
  [formGroup]="signupForm"
  (ngSubmit)="onSubmitForm($event)"
>
  <div class="field">
    <app-input label="Username" [control]="username"></app-input>
  </div>
  <div class="field">
    <app-input label="Password" [control]="password"></app-input>
  </div>
  <div class="field">
    <app-input
      label="Password Confirmation"
      [control]="passwordConfirmation"
    ></app-input>
  </div>
  <button class="ui submit button primary">Submit</button>
</form>
