<div class="ui grid stackable">
  <div class="five wide column">
    <!-- <ng-template #emailCreate></ng-template> -->
    <h1 #title>Add title via ElementRef</h1>
    <app-email-create></app-email-create>
    <ng-container *ngIf="emailList$ | async as emailList">
      <button (click)="updateUsername()">Update Username</button>
      <app-email-index
        [emails]="emailList"
        [username]="username"
      ></app-email-index>
    </ng-container>
  </div>
  <div class="eleven wide column">
    <router-outlet></router-outlet>
  </div>
</div>
