<div class="ui celled list">
  <ng-container *ngIf="emails && emails.length > 0; else noEmailsFound">
    <div class="item" *ngFor="let email of emails">
      <div class="content">
        <a [routerLink]="email.id" routerLinkActive="active">
          <div class="header">
            {{ email.subject }}
          </div>
          <p>
            {{ email.from }}
          </p>
        </a>
      </div>
    </div>
  </ng-container>
  <ng-template #noEmailsFound>No emails found</ng-template>
</div>
